<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Welcome, <a href="/chefs/<%=current_user.id%>"><%=current_user.name%></a></h2>

<h2>Recommended Restaurants on Eats Abroad</h2>

<a href="/restaurants/new"><h3>Recommend One of These Restaurants or Add a New Restaurant</h3></a>

<% City.all.each do |c| %>
    <h3><%= c.name %></h3> <!--Chicago -->
  <% Restaurant.all.each do |r| %>
    <% next if c.id != r.city_id %>
      <p><a href="/restaurants/<%=r.id%>"><%= r.name %></a></p>
  <% end %>
<% end %>

<a href="/logout">Log Out</a>
