<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%=@restaurant.name%></h2>
<h3>Cuisine: <%=@restaurant.cuisine%></h3>

<br>
<h4>Chefs' Comments</h4>
<%@restaurant.comments.each do |c|%>
  <%=c.content%> –<a href="/chefs/<%=c.chef_id%>"><%=c.chef.name%></a>

  <br>
  <a href="/comments/<%=c.id%>/edit">Edit</a>
  <form action="/comments/<%=c.id%>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
  <br>
<%end%>

<a href="/logout">Log Out</a><br>
<a href="/restaurants">View All Restaurants</a>
